body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #ffffff;
}

h1 {
    font-size: 2em;
    color: #333333;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #555555;
}

ul {
    margin-top: 20px;
}

button {
    background-color: rgb(0, 140, 186);
    margin-top: 1em;
    font-size: large;
    height: 3em;
    width: 18em;
    border-radius: 0%;
    box-shadow: 50%;
}

button:hover {
    background-color: rgb(0, 110, 150);
}

button:active {
    background-color: rgb(0, 90, 120);
    transform: scale(0.8);
}

.hardware-table {
    width: 100%;
    margin-top: 20px;
    background-color:antiquewhite;
    border-spacing: 10px; /* Para separa los elementos de la tabla */
}
